.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin: var(--default-header-height);
  width: 1150px;
  min-height: 1000px;
  display: flex;
  padding: 0 var(--default-layout-horizontal-spacer);
}
.content {
  flex: 1;
}
