.menu-wrapper {
  margin-top: 15px;
}
.menu-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 18px;
  padding: 8px;
  border-radius: 8px;
  transition: background-color ease-in-out 200ms;

  &.active {
    color: var(--primary);
    .title {
      color: var(--primary);
    }
    .icon {
      display: none;
    }
    .active-icon {
      display: flex;
    }
  }

  &:hover {
    background: rgba(22, 24, 35, 0.03);
  }
}
.title {
  line-height: 25px;
  margin-left: 8px;
  margin-top: 1px;
  font-family: var(--font-ProximaNova);
  color: black;
}

.icon {
  display: flex;
  color: black;
}

.active-icon {
  display: none;
}
