.item {
  display: flex;
  flex-direction: column;
  max-height: 416px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}
.login-item {
  margin-bottom: 1rem;
  min-height: 50px;
  min-width: 120px;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
}
