.wrapper-logo {
  min-width: 300px;
}
.logo {
  display: flex;
}
.more-btn {
  font-size: 20px;
  margin-left: 16px;
  color: #161823;
  background-color: transparent;
  cursor: pointer;
  padding: 4px 8px;
}
// --------------------------------
// ------------ACTION--------------
.action {
  display: flex;
  align-items: center;
}

.login-btn {
  min-height: 38px;
}

.user-message,
.user-inbox,
.create-effect-icon {
  background-color: transparent;
  font-size: 25px;
  width: 26px;
  height: 26px;
  margin-left: 25px;
}
.user-inbox {
  margin-left: 12px;
}
.create-effect-icon {
  padding-top: 16px;
  margin-right: -5px;
  margin-left: 2px;
}
.user-inbox {
  margin-bottom: 5px;
  margin-right: 20px;
  margin-left: 19px;
}
.badge {
  position: relative;
  top: -52px;
  right: -12px;
  padding: 0px 6px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  font-size: 14px;
  font-weight: 600;
  color: white;
  font-family: var(--font-ProximaNova);
  background-color: var(--primary);
}
.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 25px;
  background-color: transparent;
  cursor: pointer;
}
.plus-icon {
  margin-right: 10px;
}
