.wrapper {
  background-color: rgb(248, 248, 248);
  max-height: 1500px;
}

.upload-wrapper {
  margin: 0px auto;
  width: 1100px;
  max-height: 1025px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.content-wrapper {
  padding: 0px 39px;
}

.header {
  span {
    font-family: var(--font-ProximaNova);
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
  }
}

.content {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
  margin-bottom: 130px;
}
//------------LEFT-CONTENT-----------
.upload-video-wrapper {
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  border: 2px dashed rgba(22, 24, 35, 0.2);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 260px;
  height: 458px;
  cursor: pointer;
  margin-top: 22px;

  &:hover {
    background: rgba(22, 24, 35, 0.03);
    border: 2px dashed var(--primary);
  }
}

.upload-icon {
  margin-bottom: 1.6rem;
}

.title-upload-1 {
  color: rgba(22, 24, 35, 1);
  font-family: var(--font-Proxima-Nova);
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
}
.title-upload-2 {
  color: rgba(22, 24, 35, 0.75);
  font-family: var(--font-ProximaNova);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
}

.bound-upload {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  span {
    font-family: var(--font-ProximaNova);
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.5);
    margin-bottom: 6px;
  }
}
.selectfile-btn {
  width: 190px;
  margin-left: 16px;
  margin-top: 15px;
}
//--------------------------------------
//------------RIGHT-CONTENT-------------
.des-content {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  flex: 1;
}

.edit-video {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(22, 24, 35, 0.03);
  height: 104px;
  padding: 15px 5px;
  margin-bottom: 24px;
}

.icon-divide-black {
  width: 24px;
  height: 24px;
  img {
    width: 100%;
    height: 100%;
  }
}

.des-edit {
  display: flex;
  flex-direction: column;
  width: 496px;
}
.des-edit-1 {
  font-family: var(--font-ProximaNova);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
}

.des-edit-2 {
  color: rgba(22, 24, 35, 0.75);
  font-family: var(--font-ProximaNova);
  opacity: 0.75;
  font-size: 14px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
}
.edit-btn {
  margin-top: 12px;
  button {
    border-radius: 2px;
    min-height: 38px;
  }
}
//Caption
.caption-content {
  display: flex;
  flex-direction: column;
}

.header {
  color: rgba(22, 24, 35, 1);
  font-family: var(--font-ProximaNova);
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}

.count-caption {
  font-family: var(--font-ProximaNova);
  font-weight: 400;
  font-size: 13px;
  line-height: 17px;
  color: rgba(22, 24, 35, 0.5);
  white-space: pre;
  align-items: left;
}

.caption-input {
  min-height: 46px;
  position: relative;
  text-align: center;
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  input {
    font-family: var(--font-ProximaNova);
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px;
    flex: 1;
  }
}

.caption-icon {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  img {
    width: 100%;
    height: 100%;
    cursor: pointer;
  }
}

.cover-content {
  margin-top: 24px;
}

.cover-input {
  border: 1px solid rgba(22, 24, 35, 0.12);
  border-radius: 4px;
  padding: 8px 5px;
}
.cover-video {
  width: 85.75px;
  height: 150px;
  object-fit: cover;
}

.cover-video-empty {
  background-color: rgba(22, 24, 35, 0.03);
}

.upload-option {
  margin-top: 24px;
}

//status

.video-status {
  display: flex;
  flex-direction: column;
}

.status-select {
  border: 1px solid rgba(22, 24, 35, 0.12);
  display: flex;
  width: 300px;
  height: 36px;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  border-radius: 4px;
  min-width: 100px;
  cursor: pointer;
  span {
    height: 22px;
    font-family: var(--font-ProximaNova);
    font-size: 16px;
    line-height: 22px;
  }
}

.option-select {
  user-select: none;
  width: 300px;
  margin-top: -6px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
  animation: smoothly 0.5s alternate;
  max-height: 136px;

  span {
    width: 100%;
    padding: 8px 10px 8px;
    min-width: 100px;
    height: 40px;
    font-family: var(--font-ProximaNova);
    font-size: 16px;
    line-height: 22px;

    &:hover {
      background: rgba(22, 24, 35, 0.06);
    }
  }

  div {
    margin-bottom: 8px;
  }
}

.focus-status-option {
  background: rgba(22, 24, 35, 0.06) !important;
}

@keyframes smoothly {
  0% {
    max-height: 45.3px;
  }
  50% {
    max-height: 90.6px;
  }
  100% {
    max-height: 136px;
  }
}

//checkbox-allowuser

.allowuser-wrapper {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
}

.checkbox-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: fit-content;
  min-width: 320px;
}

.wrapper-checkbox {
  margin-right: 32px;
  margin-top: 5px;
  span {
    font-family: var(--font-ProximaNova);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-left: 2.5rem;
  }
}

.wrapper-input {
  position: relative;
  width: 16px;
  height: 16px;
  margin-bottom: -19px;
  input {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    appearance: none;
  }
}

.border-input {
  pointer-events: none;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 1.5px solid rgba(22, 24, 35, 0.12);

  &:hover {
    border: 1px solid var(--primary);
  }
}

.border-input-check {
  background-color: var(--primary);
}

//copyright

.copyright-check {
  display: flex;
  flex-direction: row;
  margin-top: 24px;
}
.title-copyright-check {
}

.switch-input {
  position: relative;
  display: inline-block;
  width: 44px;
  height: 24px;
  margin-left: 1.5rem;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}
//switch-input
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
  &::before {
    position: absolute;
    content: '';
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
}

.check-copyright:checked + .slider {
  background-color: rgb(11, 224, 155);
}

.check-copyright:focus + .slider {
  box-shadow: 0 0 1px rgb(11, 224, 155);
}

.check-copyright:checked + .slider::before {
  transform: translateX(19.5px);
}
//
.warning-copyright {
  margin-top: 1rem;
}
.warning-type1 {
  font-family: var(--font-ProximaNova);
  color: #161823bf;
  line-height: 1.5;
  font-size: 12px;
  font-weight: 400;
  .bold {
    color: rgba(22, 24, 35, 1);
    font-weight: 600;
    cursor: pointer;
  }
}

.warning-type2 {
  padding: 8px 12px;
  border-radius: 4px;
  height: 38px;
  background-color: rgba(22, 24, 35, 0.06);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  span {
    margin-left: 5px;
    font-family: var(--font-ProximaNova);
    line-height: 1.5;
    font-weight: 400;
    font-size: 14px;
    color: rgba(22, 24, 35, 0.75);
  }
}

.submit-btn {
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
  button {
    width: 164px;
    height: 48px;
    min-width: 144px;
    min-height: 28px;
  }
  button + button {
    margin-left: 3px;
  }
}
//--------------------------------------
